# Wrapper for the Backend API URL
# When deploying to production (e.g. Vercel), set this to your deployed backend URL.
# NO trailing slash!
# Example: https://my-backend-api.railway.app
VITE_API_URL="http://localhost:5000"
